/****************************************
  Media Queries
****************************************/

@media (min-width: 769px) {
  
  .main-header,
  .main-nav,
  .row {
    display: flex;
  }
  
  .main-header {
    flex-direction: column;
    align-items: center;
  }
  
  /* 
    Items of the .row flex container. Sets
    flex-grow to 1 so items share container
    space equally.
  */
  .col {
    flex: 1 50%;
  }
  
  .row {
    flex-wrap: wrap;
  }
  
}

@media (min-width: 1025px) {
  
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .col {
    flex-basis: 0;
  }
  
  /*
    Give the primary column more space than the
    secondary column when at the largest viewport.
  */
  
  .primary {
    flex-grow: 1.4;
  }
  
}